.note-modal-background {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(48, 48, 48, 0.2);
}

.note-modal {
    background-color: yellow;
    border-radius: 20px;
    box-shadow: lightslategray 2px 6px 8px 0px;
    width: 70%;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.note-modal-text {
    font-size: x-large;
    width: 80%;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note-modal-input {
    font-size: x-large;
    width: 80%;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
}

.note-modal textarea {
    border: none;
    outline: none;
    resize: none;
    background-color: beige;
}

.note-modal-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 90%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.note-modal-buttons button {
    border-radius: 16px;
    height: 60px;
    width: 60px;
    font-size: 36px;
    border: none;
    color: white;
    cursor: pointer;
    transition: all ease 0.1s;
    margin-bottom: 20px;
}

.note-modal-buttons button:active {
    transform: scale(0.95);
}

.save-button {
    background-color: mediumseagreen;
}

.edit-button {
    background-color: darkgoldenrod;
}

.delete-button {
    background-color: crimson;
}

.note-modal-date {
    font-weight: bold;
    font-style: italic;
    margin-left: 10%;
    margin-top: 3%;
}

@media (max-width: 840px) {
    .note-modal {
        border-radius: 20px;
        box-shadow: lightslategray 2px 6px 8px 0px;
        width: 80%;
        height: 60%;
    }

    .note-modal-text {
        font-size: large;
        width: 80%;
        height: 70%;
        margin: auto;
    }

    .note-modal-input {
        font-size: large;
        width: 80%;
        height: 70%;
        margin-top: 10%;
    }

    .note-modal-date {
        font-weight: bold;
        font-style: italic;
        font-size: small;
        margin-left: 10%;
        margin-top: 3%;
    }

    .note-modal-text {
        width: 60%;
        height: 85%;
        margin-left: 10%;
    }

    .note-modal-input {
        width: 60%;
        height: 85%;
        margin-left: 10%;
    }

    .note-modal-buttons {
        margin-left: 80%;
    }

    .note-modal-buttons button {
        border-radius: 14px;
        height: 50px;
        width: 50px;
        font-size: 33px;
    }
}